FRONTEND_PORT=8120

HTTPS=true
# May be a .pfx file or a directory containing exactly one .pfx file.
HTTPS_CERT_PATH=
HTTPS_CERT_PASSWORD=

VITE_API_URL=http://wams.gerbangcahayautama.com:8121/
VITE_API_URL_TEST=http://wams.gerbangcahayautama.com:8121/
VITE_WAMS_API_URL=http://wams.gerbangcahayautama.com:8121/